<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BookInfo/res/BookInfo_abstract.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1255},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>BookInfo/res/BookInfo_abstract_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1343},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Comment.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1984},{197,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,47}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Previews.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1771},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Previews_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{494,1771},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Read.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1679},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Read_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,1750},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1431},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1513},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,2028},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_star_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,2028},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Cover_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1255},{393,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,523}</string>
			</dict>
			<key>BookInfo/res/BookInfo_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1928},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>BookInfo/res/BookInfo_star_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,2014},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,2014},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>BookInfo/res/BookInfo_top_bg_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1690},{276,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,77}</string>
			</dict>
			<key>BookInfo/res/Common_Return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1123,1782},{109,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,110}</string>
			</dict>
			<key>BookInfo/res/Common_Return_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1896},{109,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,110}</string>
			</dict>
			<key>BookInfo/res/BookHome_0001_board_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1255},{532,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,431}</string>
			</dict>
			<key>BookInfo/res/Comment_Publish_Selected_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1842},{232,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,82}</string>
			</dict>
			<key>BookInfo/res/Comment_Release_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1928},{232,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,82}</string>
			</dict>
			<key>BookInfo/res/Comment_star_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,650},{95,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,92}</string>
			</dict>
			<key>BookInfo/res/Comment_star_Selected_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,746},{95,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,92}</string>
			</dict>
			<key>BookInfo/res/Common_Popup_Close_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1980},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>BookInfo/res/Common_Popup_Close_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1980},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,2},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,110},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,218},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,326},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,434},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,542},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Comment_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1984},{197,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,47}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_background_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1194,1249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1194,1249}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_publish_button_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1690},{343,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,150}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_publish_button_press_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1844},{310,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{310,136}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,1782},{144,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,141}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_star_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1782},{144,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,142}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_Voice button_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1928},{132,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,107}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_Voice button_press_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,1927},{132,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,107}</string>
			</dict>
			<key>BookInfo/res/yila_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1255},{168,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,208}</string>
			</dict>
			<key>BookInfo/res/yila2_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1467},{168,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,208}</string>
			</dict>
			<key>BookInfo/res/hand_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1980},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>BookInfo/res/mupai_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1844},{271,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bookInfo.png</string>
			<key>realTextureFileName</key>
			<string>bookInfo.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>