<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pay/res/ApplePay_0_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,10},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_1_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,107},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_2_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,204},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_3_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,301},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_4_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,398},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_5_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,934},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_6_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,934},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_7_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1031},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_8_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1031},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_9_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1128},{50,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,77}</string>
			</dict>
			<key>Pay/res/ApplePay_close_off_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,504},{83,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>
			<key>Pay/res/ApplePay_close_selected_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,597},{82,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,72}</string>
			</dict>
			<key>Pay/res/ApplePay_coin_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,698},{149,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,161}</string>
			</dict>
			<key>Pay/res/ApplePay_coin_selected_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,947},{150,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,149}</string>
			</dict>
			<key>Pay/res/ApplePay_weixin_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,1646},{171,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>Pay/res/ApplePay_weixin_sel_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1646},{171,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,32}</string>
			</dict>
			<key>Pay/res/ApplePay_zhifubao_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1605},{195,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,32}</string>
			</dict>
			<key>Pay/res/ApplePay_zhifubao_sel_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,1605},{195,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,32}</string>
			</dict>
			<key>Pay/res/block.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,867},{109,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,60}</string>
			</dict>
			<key>Pay/res/weixin_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1511},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>Pay/res/zhifubao_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1422},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>Pay/res/push_image_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1581},{225,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,45}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_DDB_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,698},{680,513}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{680,513}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_HYJJX_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1344},{326,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,52}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_JT_JR_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1344},{51,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,58}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_YJJX_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1511},{252,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,50}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_ZHYE_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1116},{150,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,46}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_BSYHB_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1416},{269,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,46}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_BSYHBXZ_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1430},{269,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{269,46}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_CHDT_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,10},{4,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,474}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_DG_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,689},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,70}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_HB_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,1225},{281,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,266}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_HDT_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,698},{22,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,81}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_JT_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,779},{62,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,68}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_M_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1605},{171,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,34}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_WDHB_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1344},{238,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,66}</string>
			</dict>
			<key>Pay/res/HBSRedpacket_YLHB_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,879},{136,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,35}</string>
			</dict>
			<key>Pay/res/ApplePay_gotopay_background_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{899,668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{899,668}</string>
			</dict>
			<key>Pay/res/ApplePay_frame_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1511},{631,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{631,74}</string>
			</dict>
			<key>Pay/res/caidai_an.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1231},{328,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,93}</string>
			</dict>
			<key>Pay/res/caidai_liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,1231},{328,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{328,93}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>paypng.png</string>
			<key>realTextureFileName</key>
			<string>paypng.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>