<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Book/res/Backcover_I-want-to-write-reviews_button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{374,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,129}</string>
			</dict>
			<key>Book/res/Backcover_I-want-to-write-reviews_button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{356,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,123}</string>
			</dict>
			<key>Book/res/Backcover_reading_book_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,876},{45,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,47}</string>
			</dict>
			<key>Book/res/Backcover_try_buy_button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,1},{374,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,128}</string>
			</dict>
			<key>Book/res/Backcover_try_buy_button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{356,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,123}</string>
			</dict>
			<key>Book/res/Backcover_try_Invitation-to-register_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,735},{258,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{258,133}</string>
			</dict>
			<key>Book/res/Backcover_vip_button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,1},{374,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{374,129}</string>
			</dict>
			<key>Book/res/Backcover_vip_button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1},{374,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{374,129}</string>
			</dict>
			<key>Book/res/Backcover_comments_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{334,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,99}</string>
			</dict>
			<key>Book/res/Backcover_comments_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,358},{334,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,99}</string>
			</dict>
			<key>Book/res/Backcover_good-comments_no-comment_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,694},{180,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>backcover.png</string>
			<key>realTextureFileName</key>
			<string>backcover.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>