<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>IndexScene/res/index_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1690},{1094,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1094,304}</string>
			</dict>
			<key>IndexScene/res/index_background0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1072},{1094,614}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1094,614}</string>
			</dict>
			<key>IndexScene/res/index_background02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1284,2},{1094,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1094,299}</string>
			</dict>
			<key>IndexScene/res/index_background03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,2},{1094,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1094,212}</string>
			</dict>
			<key>IndexScene/res/index_background04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1803,2},{1094,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1094,117}</string>
			</dict>
			<key>IndexScene/res/index_tree_l_143_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{706,1066}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{706,1066}</string>
			</dict>
			<key>IndexScene/res/index_tree_r_185_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,2},{568,1030}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,1030}</string>
			</dict>
			<key>IndexScene/res/index_glowworm_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,1998},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>IndexScene/res/index_light02_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1036},{84,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,86}</string>
			</dict>
			<key>IndexScene/res/index_meteor_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1998},{20,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,29}</string>
			</dict>
			<key>IndexScene/res/index_star_normal_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,1998},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>IndexScene/res/index_star_Selecyed_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1998},{41,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>background.png</string>
			<key>realTextureFileName</key>
			<string>background.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>