<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BookRoom/res/BookHome_Delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,346},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>BookRoom/res/BookHome_Download.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,919},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>BookRoom/res/BookHome_Download_Background.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,955},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>BookRoom/res/BookHome_girl_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,850},{109,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,115}</string>
			</dict>
			<key>BookRoom/res/BookHome_girl_0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,2},{197,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{197,67}</string>
			</dict>
			<key>BookRoom/res/BookHome_girl_0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,2},{247,920}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,920}</string>
			</dict>
			<key>BookRoom/res/BookHome_girl_0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,253},{224,919}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,919}</string>
			</dict>
			<key>BookRoom/res/BookHome_girl_0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,746},{169,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,112}</string>
			</dict>
			<key>BookRoom/res/zg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1343},{1010,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1010,146}</string>
			</dict>
			<key>BookRoom/res/zg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,277},{1062,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1062,177}</string>
			</dict>
			<key>BookRoom/res/zg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1030,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1030,271}</string>
			</dict>
			<key>BookRoom/res/muban_nav_bg_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1049},{1438,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1438,89}</string>
			</dict>
			<key>BookRoom/res/sc_nav_nor_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,850},{159,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,101}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_shanchu_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,589},{283,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,153}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_shoucang_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,431},{283,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,154}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_xiazai_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,589},{283,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,153}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_yishoucang_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,431},{283,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,154}</string>
			</dict>
			<key>BookRoom/res/button_shanchu_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,277},{353,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,150}</string>
			</dict>
			<key>BookRoom/res/button_xiazai_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,277},{353,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{353,150}</string>
			</dict>
			<key>BookRoom/res/BookHome_yixiazaibiaoshi_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,203},{139,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{139,50}</string>
			</dict>
			<key>BookRoom/res/BookHome_niaochao_choice_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,277},{372,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{372,114}</string>
			</dict>
			<key>BookRoom/res/BookHome_niankatushubiaoshi_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,422},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>BookRoom/res/sc_nav_sel_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,850},{159,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,101}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_yigoumai_nor_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,653},{218,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_yigoumai_pre_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,701},{218,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_yixiazai_nor_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,746},{218,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_yixiazai_pre_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,746},{218,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_zuijinyuedu_nor_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,431},{266,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_zuijinyuedu_pre_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,481},{266,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,100}</string>
			</dict>
			<key>BookRoom/res/BookHome_button_biaoshishuoming_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,955},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bookRoom.png</string>
			<key>realTextureFileName</key>
			<string>bookRoom.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>