<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BookCity/res/bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,641},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{300,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,318}</string>
			</dict>
			<key>BookCity/res/bg_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1813,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{2115,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_63.png</key>
			<dict>
				<key>frame</key>
				<string>{{2115,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{2115,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{300,318}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,318}</string>
			</dict>
			<key>BookCity/res/bg_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2417,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_80.png</key>
			<dict>
				<key>frame</key>
				<string>{{2417,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{2417,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{2719,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{2719,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{2719,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_85.png</key>
			<dict>
				<key>frame</key>
				<string>{{3021,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_86.png</key>
			<dict>
				<key>frame</key>
				<string>{{3021,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_87.png</key>
			<dict>
				<key>frame</key>
				<string>{{3021,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{3323,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{3625,1},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{3323,318},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
			<key>BookCity/res/bg_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{3323,635},{300,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,315}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>buttons.png</string>
			<key>realTextureFileName</key>
			<string>buttons.png</string>
			<key>size</key>
			<string>{3926,957}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>3926</integer>
			<key>height</key>
			<integer>957</integer>
		</dict>
	</dict>
</plist>