<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ParentScene/res/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,10},{532,414}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,414}</string>
			</dict>
			<key>ParentScene/res/ChangePasswd_bg_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1206},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>ParentScene/res/ChangePasswd_bg_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1269},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>ParentScene/res/ChangePasswd_Determine_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,1202},{175,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,47}</string>
			</dict>
			<key>ParentScene/res/ChangePasswd_Determine_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1237},{175,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,47}</string>
			</dict>
			<key>ParentScene/res/Common_Popup_Close_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,630},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>ParentScene/res/Common_Popup_Close_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,716},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>ParentScene/res/Common_Return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1258,984},{109,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,110}</string>
			</dict>
			<key>ParentScene/res/Common_Return_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,1020},{109,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,110}</string>
			</dict>
			<key>ParentScene/res/content.png</key>
			<dict>
				<key>frame</key>
				<string>{{1023,616},{454,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,84}</string>
			</dict>
			<key>ParentScene/res/Feedback_Btn_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,764},{96,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,47}</string>
			</dict>
			<key>ParentScene/res/Feedback_Btn_Selected_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,831},{96,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,47}</string>
			</dict>
			<key>ParentScene/res/icorn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1028},{121,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,78}</string>
			</dict>
			<key>ParentScene/res/icorn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,1114},{121,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,78}</string>
			</dict>
			<key>ParentScene/res/logoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,484},{244,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,126}</string>
			</dict>
			<key>ParentScene/res/no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,1156},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>ParentScene/res/no2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1165},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>ParentScene/res/Parents_about_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1525},{694,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,192}</string>
			</dict>
			<key>ParentScene/res/Parents_Account_information_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,628},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Account_information_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,628},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Binding_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1737},{694,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,106}</string>
			</dict>
			<key>ParentScene/res/Parents_book_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1296},{694,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,209}</string>
			</dict>
			<key>ParentScene/res/Parents_button_1_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,263},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_1_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,282},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_2_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,465},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_2_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,630},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/block.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1126},{109,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,60}</string>
			</dict>
			<key>ParentScene/res/ChangePasswd_background_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,10},{532,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,473}</string>
			</dict>
			<key>ParentScene/res/Feedback_Background_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{532,532}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,532}</string>
			</dict>
			<key>ParentScene/res/Parents_button_3_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,667},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_3_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,832},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_4_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,832},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_4_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,562},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_5_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,562},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_5_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,562},{161,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,182}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Background_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,503},{441,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,105}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Cancellation.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,975},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Cancellation_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,991},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Change-password.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1045},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Change-password_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1062},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Check-and-update.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1078},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Check-and-update_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1132},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Clean-cache.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1149},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Clean-cache_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1165},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Complete.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1219},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Complete_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1005},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1028},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Edit_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1115},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Feedback.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1150},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Feedback_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1236},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_input_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1034},{432,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,29}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Not-selected_1_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,863},{248,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,71}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Not-selected_2_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,884},{248,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,71}</string>
			</dict>
			<key>ParentScene/res/Parents_button_QR-code.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,848},{271,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,79}</string>
			</dict>
			<key>ParentScene/res/Parents_button_QR-code_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,764},{271,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,79}</string>
			</dict>
			<key>ParentScene/res/Parents_button_recovering.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1159},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>ParentScene/res/Parents_button_restore_fail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1223},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>ParentScene/res/Parents_button_restore_success.png</key>
			<dict>
				<key>frame</key>
				<string>{{1531,1223},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>ParentScene/res/Parents_button_return_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,1232},{126,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,44}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Selected_1_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,900},{248,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,71}</string>
			</dict>
			<key>ParentScene/res/Parents_button_Selected_2_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,954},{248,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,71}</string>
			</dict>
			<key>ParentScene/res/Parents_Cache_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1863},{694,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,62}</string>
			</dict>
			<key>ParentScene/res/Parents_centent_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1415},{694,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,197}</string>
			</dict>
			<key>ParentScene/res/Parents_Contact_us_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,720},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Contact_us_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,720},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Download_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1945},{694,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,62}</string>
			</dict>
			<key>ParentScene/res/Parents_Login_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1597,1083},{187,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,53}</string>
			</dict>
			<key>ParentScene/res/Parents_Login_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,1092},{187,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{187,53}</string>
			</dict>
			<key>ParentScene/res/Parents_Set_up_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,756},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Set_up_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,756},{212,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,108}</string>
			</dict>
			<key>ParentScene/res/Parents_Title_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,947},{281,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,61}</string>
			</dict>
			<key>ParentScene/res/Parents_us_border_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1863},{694,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{694,62}</string>
			</dict>
			<key>ParentScene/res/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,444},{450,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{450,152}</string>
			</dict>
			<key>ParentScene/res/yes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1212},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>ParentScene/res/yes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,1159},{134,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,47}</string>
			</dict>
			<key>ParentScene/res/yn.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1632},{668,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{668,124}</string>
			</dict>
			<key>ParentScene/res/Parents_button_recharge_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1252},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_button_recharge_Selected__03_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1306},{190,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,67}</string>
			</dict>
			<key>ParentScene/res/Parents_QR-code_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,10},{230,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{230,233}</string>
			</dict>
			<key>ParentScene/res/Parents_button_QQ_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1304},{130,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,56}</string>
			</dict>
			<key>ParentScene/res/Parents_button_copyrightQQ_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1323},{130,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,56}</string>
			</dict>
			<key>ParentScene/res/Parents_button_copyrightQQ_Selected_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1339},{130,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,56}</string>
			</dict>
			<key>ParentScene/res/Parents_button_businessQQ_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1393},{130,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,56}</string>
			</dict>
			<key>ParentScene/res/Parents_button_businessQQ_Selected_568h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1804,1083},{130,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,56}</string>
			</dict>
			<key>ParentScene/res/umeng_qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,10},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>ParentScene/res/umeng_sina.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,146},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>ParentScene/res/umeng_socialize_qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,848},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>ParentScene/res/umeng_socialize_sina.png</key>
			<dict>
				<key>frame</key>
				<string>{{1444,869},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>ParentScene/res/umeng_socialize_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,764},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>ParentScene/res/umeng_wechat.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,884},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>parent.png</string>
			<key>realTextureFileName</key>
			<string>parent.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>