<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LoginScene/res/ChangePasswd_bg_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,552},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>LoginScene/res/ChangePasswd_bg_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,607},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>LoginScene/res/Common_Popup_Return_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,902},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>LoginScene/res/Common_Popup_Return_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,772},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>LoginScene/res/ForgetPassword_Background_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,1},{548,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{548,488}</string>
			</dict>
			<key>LoginScene/res/register_Background_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{532,549}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,549}</string>
			</dict>
			<key>LoginScene/res/register_Selected_Verification_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,662},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>LoginScene/res/register_Verification_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,717},{143,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,53}</string>
			</dict>
			<key>LoginScene/res/Common_Popup_Close_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,840},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>LoginScene/res/Common_Popup_Close_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,840},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>LoginScene/res/checkboxbackground.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,829},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>LoginScene/res/man.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,896},{64,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,23}</string>
			</dict>
			<key>LoginScene/res/sel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,851},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>LoginScene/res/woman.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,829},{65,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,23}</string>
			</dict>
			<key>LoginScene/res/AddChild_Background_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,551},{440,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,440}</string>
			</dict>
			<key>LoginScene/res/AddChild_input_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,551},{276,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{276,41}</string>
			</dict>
			<key>LoginScene/res/register_input_l_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,930},{199,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,53}</string>
			</dict>
			<key>LoginScene/res/register_input_s_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,552},{376,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,54}</string>
			</dict>
			<key>LoginScene/res/textbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,552},{348,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{348,53}</string>
			</dict>
			<key>LoginScene/res/push_image_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,552},{454,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,121}</string>
			</dict>
			<key>LoginScene/res/push_image_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,552},{454,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login.png</string>
			<key>realTextureFileName</key>
			<string>login.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>