<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BookInfo/res/BookInfo_abstract.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,2},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>BookInfo/res/BookInfo_abstract_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,90},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Comment.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1237},{197,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,47}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Previews.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1195},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Previews_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,1095},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Read.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,1166},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Read_Selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{1683,1237},{141,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,67}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,178},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,260},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,390},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Comment_star_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,402},{19,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Cover_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,2},{393,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,523}</string>
			</dict>
			<key>BookInfo/res/BookInfo_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,342},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>BookInfo/res/BookInfo_star_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,390},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>BookInfo/res/BookInfo_Time.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,372},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,26}</string>
			</dict>
			<key>BookInfo/res/BookInfo_top_bg_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,898},{276,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{276,77}</string>
			</dict>
			<key>BookInfo/res/BookHome_0001_board_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,2},{532,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,431}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,979},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,1024},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,1087},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1127},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_Selected_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1683,1095},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/parentsVerification_button_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1575,1132},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>BookInfo/res/BookInfo_btn_Comment_push.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,1288},{197,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,47}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,908},{144,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,141}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_star_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,908},{144,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,142}</string>
			</dict>
			<key>BookInfo/res/yila_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,572},{168,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,208}</string>
			</dict>
			<key>BookInfo/res/yila2_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,769},{168,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,208}</string>
			</dict>
			<key>BookInfo/res/hand_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1959,342},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>BookInfo/res/mupai_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,648},{271,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,132}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_word_background_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,1017},{632,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,167}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_background_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1020,1011}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1020,1011}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_publish_button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,784},{270,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,110}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_publish_button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1713,981},{270,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,110}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_Voice button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,979},{141,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,144}</string>
			</dict>
			<key>BookInfo/res/Voicecomment_Voice button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,1053},{141,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,144}</string>
			</dict>
			<key>BookInfo/res/pager_hongbao_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,810},{300,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,94}</string>
			</dict>
			<key>BookInfo/res/pager_jiagebaidi_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,437},{529,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{529,131}</string>
			</dict>
			<key>BookInfo/res/pager_yigou_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1880,529},{88,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,236}</string>
			</dict>
			<key>BookInfo/res/yjgou.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,784},{88,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,236}</string>
			</dict>
			<key>BookInfo/res/vipzu_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,529},{317,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,115}</string>
			</dict>
			<key>BookInfo/res/Details pager_mianfeiyueduvip_Button_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,572},{317,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,115}</string>
			</dict>
			<key>BookInfo/res/Details pager_mianfeiyueduvip_Button_press_736h.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,691},{317,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,115}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bookInfo.png</string>
			<key>realTextureFileName</key>
			<string>bookInfo.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>