<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>IndexScene/res/flower_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,832},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,769},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,822},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{872,831},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,859},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,876},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,876},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,884},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,893},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,833},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,833},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,879},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,885},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,895},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,894},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,931},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,922},{42,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,58}</string>
			</dict>
			<key>IndexScene/res/flower2_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1057},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1106},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1155},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,687},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,736},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,785},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,834},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,883},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,932},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,981},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,1030},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,960},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,1026},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,1092},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,1158},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,1079},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower2_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,1180},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,62}</string>
			</dict>
			<key>IndexScene/res/flower3_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,162},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,223},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,284},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,345},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,406},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,467},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,199},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,260},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,321},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,382},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,443},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,504},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,565},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,626},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,528},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,589},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,650},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,711},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,772},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,833},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/flower3_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,894},{57,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,66}</string>
			</dict>
			<key>IndexScene/res/door flicker_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,514},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door flicker_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,736},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door flicker_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1791,958},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door flicker_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,516},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,516},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,672},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,547},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,547},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,694},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,738},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/door_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,894},{174,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,218}</string>
			</dict>
			<key>IndexScene/res/cyanbird_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,1229},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>IndexScene/res/cyanbird_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1883,1282},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>IndexScene/res/cyanbird_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,832},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>IndexScene/res/cyanbird_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,769},{54,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,49}</string>
			</dict>
			<key>IndexScene/res/index_background05_l_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,199},{469,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{469,163}</string>
			</dict>
			<key>IndexScene/res/index_background05_r_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,514},{442,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{442,164}</string>
			</dict>
			<key>IndexScene/res/index_light_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,755},{34,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,54}</string>
			</dict>
			<key>IndexScene/res/Music_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,955},{73,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,47}</string>
			</dict>
			<key>IndexScene/res/No_Music_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1969,1006},{73,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,47}</string>
			</dict>
			<key>IndexScene/res/Parents_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,1204},{86,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,105}</string>
			</dict>
			<key>IndexScene/res/pinkbird_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,547},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>
			<key>IndexScene/res/pinkbird_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,599},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>
			<key>IndexScene/res/pinkbird_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,651},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>
			<key>IndexScene/res/pinkbird_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,703},{48,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,39}</string>
			</dict>
			<key>IndexScene/res/redbird_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,938},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>IndexScene/res/redbird_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,968},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>IndexScene/res/redbird_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,872},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>IndexScene/res/redbird_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,872},{51,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,43}</string>
			</dict>
			<key>IndexScene/res/User_bg_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,725},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>IndexScene/res/User_up_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,437},{109,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,136}</string>
			</dict>
			<key>IndexScene/res/User_m_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,663},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>IndexScene/res/yellowbird_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,813},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>IndexScene/res/yellowbird_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,956},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>IndexScene/res/yellowbird_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,946},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>IndexScene/res/yellowbird_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,872},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>IndexScene/res/Common_Popup_Close_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,2},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>IndexScene/res/Common_Popup_Close_Selected_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,82},{76,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,66}</string>
			</dict>
			<key>IndexScene/res/bluebird_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,872},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>IndexScene/res/bluebird_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1120,911},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>IndexScene/res/bluebird_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,912},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>IndexScene/res/bluebird_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,950},{43,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,35}</string>
			</dict>
			<key>IndexScene/res/BookHome_girl_0000.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,550},{109,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,115}</string>
			</dict>
			<key>IndexScene/res/BookHome_0001_board_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{532,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{532,431}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,960},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,1068},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_Selected_blue_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1775,1180},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_Selected_red_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1941,1313},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_Selected_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,725},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/parentsVerification_button_yellow_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,776},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>IndexScene/res/User_bg1_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,769},{103,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,103}</string>
			</dict>
			<key>IndexScene/res/Bookstore_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,2},{339,508}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,508}</string>
			</dict>
			<key>IndexScene/res/index_clipping_bigc_ipad.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,437},{385,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,385}</string>
			</dict>
			<key>IndexScene/res/index_background01.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,2},{1094,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1094,193}</string>
			</dict>
			<key>IndexScene/res/headstock_ipad@2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,199},{432,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{432,344}</string>
			</dict>
			<key>IndexScene/res/vip_store_667h.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,199},{313,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{313,408}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Index.png</string>
			<key>realTextureFileName</key>
			<string>Index.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>